#section04 {

  width: 100%;

  .collections {
    width: 100%;
  }

  .container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
      border-radius: 3px;
    }
  }

  .collection-title {
    padding-bottom: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .col {
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    .card {
      width: 100%;
      background: #fff;
      box-shadow: 0 0 0 1px rgb(67 41 163 / 8%), 0 1px 5px 0 rgb(67 41 163 / 8%);

      img {
        min-width: 100%;
      }
    }
  }

  .product-img {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;

      .discount {
        display: inline-block;
        background-color: #f00;
        color: #fff;
        height: 30px;
        width: auto;
        border-radius: 3px;
        font-size: 12px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        letter-spacing: 2px;
        padding: 0 8px;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .circle-tag {
        height: 36px;
        width: 36px;
        background: #fff;
        border-radius: 50%;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;

        img {
          padding: 8px;
          border-radius: 3px;
        }
      }

      .trending {

        padding: 3px 15px;
        position: absolute;
        bottom: 4px;
        left: 10px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        color: #fff;
        background-image: linear-gradient(to bottom, #499a14, #476d2d);
      }

      .new {

        padding: 3px 15px;
        position: absolute;
        bottom: 4px;
        left: 10px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        color: #fff;
        background-image: linear-gradient(to bottom, #c55a11, #ed7d31);
      }
    }
  }

  .collection-item {
    overflow: hidden;
    padding: 0;

    a {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      background-color: #ffffff94;
      border: 1px solid transparent;
      padding: 8px 16px;
      font-size: 16px;
      line-height: 1.595;
      border-radius: 0.25rem;
      color: #000;
      font-weight: 600;
      position: absolute;
      bottom: 15px;
      left: 30px;
      margin-bottom: 15px;
      transition: 0.5s;
      z-index: 500;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }

    img {
      width: 100%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .card-body {
    padding: 10px;

    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: 90%;
        color: #000;
        transition: 0.5s;
        display: inline-block;

        &:hover {
          color: #ff8d00;
        }
      }

      .rate {
        display: inline-block;

        span {
          background-color: #ffc000;
          color: #fff;
          height: 30px;
          width: auto;
          border-radius: 3px;
          font-size: 12px;
          margin-right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          letter-spacing: 2px;
          padding: 0 8px;
        }
      }
    }

    .card-subtitle {
      font-size: 12px;
      color: #6b6b83;
      line-height: 1.8;
      margin-bottom: 10px;
    }

    .product-details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      span {
        display: block;
        line-height: 1.5;

        &:nth-child(even) {
          color: #6b6b83;
        }
      }

      .rating {
        span {
          text-align: right;
        }

        span:nth-child(1) {
          color: #fcb71b;
        }
      }
    }

    .product-footer {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .square-tag {
        height: 35px;
        width: 40px;
        background: transparent;
        border-radius: 3px;
        font-size: 16px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          padding: 8px;
        }
      }
    }
  }

  .shop {

    .c-banner {
      display: none;

      a {
        width: 70%;
        display: inline-block;
        text-align: center;
        background-color: #ffffff94;
        border: 1px solid transparent;
        padding: 8px 16px;
        font-size: 16px;
        height: 40px;
        margin-top: 10px;
        border-radius: 0.25rem;
        color: #000;
        font-weight: 600;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 15px;
        transition: 0.5s;
        z-index: 500;

        &:hover {
          background: $primary;
          color: #fff;
        }

      }

      a:nth-child(3) {
        top: 90%;
        position: absolute;
        background-color: #fff;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .vbanner {
    display: none;
    width: 100%;
    height: 100px;
    position: relative;
    img {
      width: 100%;
      height: 100px;
    }

    .text {
      text-align: center;
      position: absolute;
      top: 10px;
      left: 15px;
      right: 15px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      a {
        display: inline-block;
        border: 1px solid transparent;
        padding: 9px 15px 8px;
        font-size: 14px;
        line-height: 1.51741;
        border-radius: 4px;
        background-color: #ff8d00;
        color: #fff;
        text-decoration: none;
      }

      img {
        margin: 0 25px;
        max-width: 100%;
        width: auto;
        height: auto;
        border-radius: 3px;
        object-fit: cover;
      }
    }
    .darkOverlay{
      position: absolute;
      height: 100px;
      width: 100%;
      top: 0;
      left: 0;
      margin: 0;
      right: 0;
      background: #000;
      opacity: 0.5;
    }
  }

  @include md {
    .container {
      width: 85%;
    }

    .row:nth-child(1) .col {
      width: 100%;
    }

    .row:nth-child(2) {
      .col {
        width: 47%;
      }
    }

    .row:last-child {
      .col {
        width: 47%;
      }
    }

    .col {
      width: 30%;
      padding-left: 15px;
      padding-right: 15px;

      img {
        width: 100%;
      }

    }

    .shop {
      height: 100%;

      .c-banner {
        position: relative;
        width: 32%;
        height: 1070px;
        display: block;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .c-shop {
        width: 66%;

        .row .col {
          max-width: 49%;
        }
      }
    }

    .vbanner {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 15px 50px;
    }

  }

  @include lg {
    .container {
      width: 75%;
    }

    .row:nth-child(2) {
      .col {
        width: 48.5%;
      }
    }

    .row:last-child {
      .col {
        width: 48.5%;
      }
    }

    .col {
      width: 23%;
    }

    .shop {
      .c-banner {
        width: 25%;
        height: 750px;
        display: block;
      }

      .c-shop {
        width: 75%;

        .row .col {
          max-width: 32%;
        }
      }
    }
    .vbanner {
      width: 100%;  
      .text{
        top: 40px;
        justify-content: space-around;
      }
    }

  }
}